.card-of-list{
    width: 50%;
}
.single-card{
    background-color: #fff;
    box-shadow: 0px 0px 7px 2px #d3d2d27d;
    width: 570px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;

}
.single-card img{
    height: 80px;
    width: 80px;
}
.btns-single-card{
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-evenly;
}
.single-card .delete-btn{
    width: 74px;
    height: 34px;
    border: none;
    background-color: #1f1e1e;
    border-radius: 2px;
    color: #f2eeee;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}
.single-card .delete-btn:hover{ background-color: #ff7777;}