.flex-content{margin-bottom: 120px;margin-top: 60px;}
.see-all-btn{
    border: none;
    background-color: #fff;
    font-weight: 600;
    color: #666;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.see-all-btn:hover{color: #ff6a2b;}